/*           DULCERÍA PRINCIPAL              */

.dulceria-principal {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 2rem 1rem;
  gap: 2rem;
  background-color: #e0e0e088;
  flex-wrap: wrap;
  margin: 15;
}

.seccion-titulo {
  color: #070707;
  margin-bottom: 1rem;
}

.productos-cuadro {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.producto-tarjeta {
  background-color: #cfcfcf;
  border: 1px solid #505050;
  padding: 1rem;
  width: 200px;
  border-radius: 6px;
  text-align: center;

}

.producto-imagen {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.producto-titulo {
  font-size: 1rem;
  margin: 0.5rem;
  color: #000000;
}

.producto-descripcion {
  font-size: 0.85rem;
  color: #000000;
  margin-bottom: 0.5rem;
}

.producto-precio {
  font-weight: bold;
  margin-bottom: 0.5rem;
  color: #000000;
}

.producto-controles {
  gap: 0.5rem;
  color: #000000;
}

.control-boton {
  background-color: #c1121f;
  color: #fff;
  border: none;
  width: 30px;
  height: 30px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 4px;
}

.barra-categorias {
    border-radius: 100px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
    margin: 2rem;
}

.categoria-boton {
    border-radius: 10px;
    padding: 1rem;
    background-color: #e53935;
    border: none;
    color: white;
    font-size: 1.25rem;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.categoria-boton:hover {
    background-color: #b71c1c;
    transform: scale(1.05);
}

.ver-todos {
    background-color: #424242;
}

.ver-todos:hover {
    background-color: #212121;
}


.panel-pedido {
  background-color: #cfcebf;
  border-radius: 8px;
  padding: 1.5rem;
  width: 500px;
  min-width: 250px;
  box-shadow: 0 0 8px rgba(29, 5, 5, 0.747);
  color: #000000;
}

.pedido-titulo {
  color: #0a0a0a;
  margin-bottom: 1rem;
}

.pedido-asiento {
  background-color: #63b384;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border-radius: 4px;
  font-weight: bold;
}

.pedido-item {
  display: flex;
  justify-content: space-between;
  background-color: #e7e7e7;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border-radius: 4px;
  font-size: 0.9rem;
}

.pedido-total {
  text-align: right;
  margin-bottom: 1rem;
  font-size: 1rem;
}

.btnContinuar {
    text-decoration: none;
    background-color: #e73939;
    color: white;
    font-size: 1.2rem;
    padding: 0.75rem 2rem;
    border-radius: 10px;
}

.btnContinuar:hover
{
  background-color: rgb(177, 2, 2);
}


