.campo-foto {
  display: flex;
  align-items: center;
  gap: 10px;
}

.foto-personal {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
  border: 1px solid #ffffff;
}

.tabla-personal {
  width: 100%;
  margin-top: 20px;
}

.tabla-personal th{
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.tabla-header {
  background-color: #222;
  color: white;
}

.campo-archivo {
  display: none;
}
