h1 {
  margin-bottom: 30px;
}

/* Formulario */
.form-empleado {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.fila-flex {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.flex-1 {
  flex: 1;
}

.campo-input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
}


/* Imagenes */
.foto-personal {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
  border: 1px solid #ccc;
}

.foto-tabla {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}

/* Tabla */
.tabla-personal {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.tabla-personal th,
.tabla-personal td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.tabla-header {
  background-color: #222;
  color: white;
}

/* Utilidades */
.mt-5 {
  margin-top: 3rem;
}

.flex-row-center {
  display: flex;
  align-items: center;
}

.gap-3 {
  gap: 12px;
}

.input-file {
  display: none;
}
