.boton {
  padding: 10px 10px;
  border: none;
  background-color: #000000;
  color: white;
  cursor: pointer;
  font-weight: bold;
  font-size: medium;
  border-radius: 10px;
  transition: background-color 0.3s ease;
}

.boton:hover {
  background-color: gold;
}
