
h1 {
  margin-bottom: 30px;
}

.formulario {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 40px;
}

.fila {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.campo-input,
.campo-select {
  flex: 1;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
}


